@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    font-family: 'Josefin Sans', sans-serif;
} 

/* Comienza los estilos del menu */
.menu {
    border: 2px red dotted;
    width: 80%;
    height: 60px;
    margin: 0 10% 0 10%;
}

.menu__vision {
    /* width: 60px;
    height: 60px; */
    display: inline-flex;
    position: absolute;
    align-items: center;
}

.menu__titulo {
    font-size: 1.6rem;
    display: inline;
} 

.menu__vision-img {
    width: 60px;
    height: 60px;
}

.menu__lista {
    display: inline-flex;
    position: relative;
    width: 60%;
    height: 50px;
    margin: 5px 20% 5px 20%;
    /* background-color: aqua; */
    justify-content: center;
}

.menu__personajes {
    display: inline-block;
    margin: 0 10px;
}

.menu__personajes-ico {
    width: 40px;
    height: 40px;
}

/* comienza los estilos del personaje */

.personaje {
    border: 2px black dotted;
    width: 80%;
    height: 92vh;
    margin: 0 10% 0 10%;
    position: fixed;
    display: inline-block;
    
}

/* Estilos del menu lateral izquierdo*/

.personaje__menu {
    border: 2px green dotted;
    background-color: green;
    width: 29%;
    height: 100vh;
    display: inline-block;
   }

/* Estilos del menu lateral derecho */

.personaje__detalles {
    border: 2px blue dotted;
    background-color: blue;
    width: 70%;
    height: 100vh;
    display: inline-block;
    position: absolute;
}