@font-face {
    font-family: genshin-impact;
    src: url(../font/ja-jp.ttf);
}

:root {
    --pyro500: #EF4444;
    --pyro700: #B91C1C;
    --hydro500: #3B82F6;
    --hydro700: #1D4ED8;
    --anemo500: #14B8A6;
    --anemo700: #0F766E;
    --electro500: #A855F7;
    --electro700: #7E22CE;
    --dendro500: #84CC16;
    --dendro700: #4D7C0F;
    --cryo500: #06B6D4;
    --cryo700: #0E7490;
    --geo500: #EAB308;
    --geo700: #A16207;
    --slate800: #1e293b;
    --white: #fbfbfb;
    --sadWhite: #fbfbfb8c;
    --lg: 24px;
    --md:16px;
    --sm:12px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'genshin-impact', sans-serif;
    color: var(--white);
}

html {
    font-size: 62.5%;
}

.responsive {
    background-color: var(--electro500);
}

.container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    background-color: var(--electro500);
    padding: 20px;
}

/* Menu de personajes */
.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu__paimon {
    width: 70px;
    height: 70px;
    overflow: hidden;
    border-radius: 50%;
    border: 5px var(--sadWhite) solid;
    margin-bottom: 50px;
}

.paimon_image {
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: contain;
}

.menu__pjs {
    display: grid;
    grid-template-rows: repeat(8, 45px);
    grid-template-columns: 45px;
    gap: 10px;
}
/* Contenedor de personajes */
.pj_icon {
    overflow: hidden;
    border-radius: 50%;
    border: 2px var(--slate800) solid;
    object-fit: contain;
}
.pj-main-border {
    border: 2px #EDE5D8 solid;
}
.team-border {
    border: 2px #88B34F solid;
}
/* Lista de Personajes*/
.pj_icon-side {
    width: 41px;
    height: 41px;
    padding: 2px;
    background-color: var(--sadWhite);
    object-fit: contain;
    object-position: center;
}

.pj-main {
    background-color: #88B34F;
}
.team {
    background-color: #507432;
}



/* Diseño de menu */

/* Diseño de personaje */
.personaje {
    display: flex;
    flex-direction: column;
    position: relative;
}
.personaje__card {
    width: 400%;
    height: 100%;
}
.personaje__card-img {
    max-width: 100%;
    max-height: 100%;
}

/* Diseño de los atributos del personaje */
.atributos {
    width: 400%;
    height: auto;
    position: absolute;
    background-color: var(--electro700);
    border-radius: 12px;
    bottom: 100px;
    padding: 10px;
}
.atributos__titulo {
    font-size: var(--lg);
}

/* diseño de los stats */
.atributos__stats {
    display: grid;
    grid-template-columns: 20px auto auto;
    gap: 5px;
    margin: 20px 0 20px 0;
}
.atributos__lista {
    display: flex;
    flex-direction: column;
}
.atributos__iconos {
    width: 27px;
}
.atributos__info, .atributos__valor{
    font-size: var(--md);
    text-align: none;
    list-style: none;
}
.atributos__resumen {
    font-size: var(--md);
    color: var(--sadWhite)
}
/* .cube {
    background-color:cadetblue;
}

.large {
    grid-column-start: 2;
    grid-column-end: 6;
} */