* {
    /* box-sizing: border-box;
    margin: 0; */
    padding: 0;
    font-size: 62.5%;
    font-family: 'genshin-impact', sans-serif;
    background-color: #5D217A;
} 

/* Comienza los estilos del menu */
.menu {
    /* border: 2px red dotted; */
    width: 80%;
    height: 60px;
    margin: 0 10% 0 10%;
}

.menu__vision {
    /* width: 60px;
    height: 60px; */
    display: inline-flex;
    position: absolute;
    align-items: center;
}

.menu__titulo {
    font-size: 1.6rem;
    display: inline;
    color: #ffffff;
    z-index: 1;
} 

.menu__vision-img {
    width: 60px;
    height: 60px;
    
}

.menu__lista {
    display: inline-flex;
    position: relative;
    width: 60%;
    height: 50px;
    margin: 5px 20% 5px 20%;
    /* background-color: aqua; */
    justify-content: center;
}

.menu__personajes {
    display: inline-block;
    margin: 0 10px;
    /* width: 45px;
    height: 45px; */
    
}

.menu__personajes-ico {
    width: 40px;
    height: 40px;
    border: 2px #e4dddd10 solid;
    border-radius: 100%;
}

.team {
    border: 2px #88B34F solid;
    border-radius: 100%;
    background-color: #507432;
}

.select {
    width: 41px;
    height: 41px;
    background-color: #88B34F;
    border: 2px #EDE5D8 solid;
    border-radius: 100%;
}

/* comienza los estilos del personaje */

.personaje {
    /* border: 2px black dotted; */
    width: 80%;
    height: 92vh;
    margin: 0 10% 0 10%;
    position: fixed;
    display: inline-block;
}

/* Estilos del menu lateral izquierdo*/

.personaje__menu {
    /* border: 2px green dotted; */
    width: 30%;
    height: 100vh;
    display: inline-block;
   }

.personaje__lista {
    position: absolute;
    left: 70px;
    top: 20px;
}

.personaje__opciones {
    font-size: 2.8rem;
    color: #ffffff;
    margin: 10px 0;
}

/* Estilos del menu lateral derecho */

.personaje__detalles {
    /* border: 2px blue dotted; */
    /* background-color: blue; */
    width: 70%;
    height: 100vh;
    display: inline-flex;
    position: absolute;
}

.personaje__modelo {
    width: 60%;
    height: 100vh;
    /* border: 2px coral dotted; */
    /* background-color: coral; */
}

.personaje__modelo-img {
    width: 40%;
    margin: 50px 10% 0 10%;
}

.atributos {
    width: 40%;
    height: 100vh;
    /* border: 2px purple dotted; */
    /* background-color: purple; */
    padding-top: 10px;
    color: #fff;
}

.titulo__sub-contenido {
    color: #fbfbfb70;
    font-size: 2rem;
}

.atributos__titulo {
    font-size: 2rem;
    margin: 5px 0;
}

.atributos__stats {
    display: inline-flex;
}

.atributos__lista {
    list-style: none;
    margin-right: 10px;
}

.atributos__iconos {
    width: 16px;
    display: block;
    margin: 2px 0 8px 0;
}

.atributos__info {
    font-size: 1.6rem
}

.atributos__valor {
    font-size: 1.6rem;
}

.atributos__detalles {
    display: block;
    font-size: 1.8rem;
    margin: 10px 0 30px 0;
    color: #fff;
    width: 85%;
    border: none;
    background-color: rgba(255, 255, 255, 0.10);
    padding: 8px 0 3px 0;
    border-radius: 30px;

}

.atributos__resumen {
    font-size: 1.4rem;
    color: #fbfbfb8c;
}